#beliefs {
    max-width: 900px;
    line-height: 1.5em;
}

body {
    margin: 0;
    font-size: 20px;
    /* background: white;*/
    background-image: radial-gradient(rgba(22, 56, 104, 0.9)1px, rgba(9, 33, 68, 0.9) 0);
    background-size: 10px 10px;
    background-position: -10px -10px;
    padding-bottom: 100px;
    /* background-image: linear-gradient(rgb(55, 106, 245), rgb(55, 100, 160)); */
}

.canvas {
    max-width: 1200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    padding: 1em;
}

.header {

    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.header img:first-of-type {
    width: 100%;
    height: 100%; 
   grid-area: 1 / 1 / 11 / 11;
   object-fit: cover;
}

.header img:last-of-type {
    grid-area: 2 / 7 / 6 / 11;
    object-fit:contain;
    min-width: 300px;
}

#map {
    padding-top: 1em;
}

.narrow-limit {
    max-width: 400px;
}

nav {
    line-height: 1.5em;
    text-align: center;
    padding: 15px;
}

nav a {
    text-decoration: none;
    letter-spacing: 3px;
}

.section {
    background-color: rgba(211, 211, 211, 0.435);
    padding: 50px 100px !important;
}

#service-times {
    text-align: center;
    line-height: 2em;
    font-size: 1.2em;
}

#service-times span {
    font-size: 20px;
}

#welcome::first-letter {
    font-size: 3em !important;
}

.wide-limit {
    max-width: 650px;
}

@media (width <= 768px) {
    .header img:last-of-type {
        grid-area: 2 / 2 / 6 / 11;
    }

    .section {
        padding: 50px !important;
    }
}